<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" id="login-form">
        <input type="text" id="curp" name="curp">
        <input type="password" id="password" name="password">
        <button type="submit">Entra</button>
    </form>
    <script src="js/login.js"></script>
</body>
</html>