<!doctype html>
<html lang="es" data-bs="dark">
    <head>
        <title>404</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>

    <body>
        <main style="font-family: Arial; font-size: 2em;">
            <h1>404</h1>
            <h3>Parece que la página que estás buscando no existe...</h13>
        </main>
    </body>
</html>