<!doctype html>
<html lang="es" data-bs-theme="light">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="css/usuario_style.css"/>
    </head>

    <body>
        <header></header>
        <main>
            <h1 class="titulo" id="patient-name"></h1>
            <div class="tablaMedicina" id="tabla-medicina">
                
            </div>
        </main>
        <footer class="bg-primary mt-5 py-1 text-center text-white fixed-bottom"></footer>
        
        <script src="js/patient.js"></script>
        
        <script src="js/bootstrap.bundle.min.js"></script>

        <script src="js/script.js"></script>
    </body>
</html>