<!DOCTYPE html>
<html lang="es" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Signup</title>
</head>
<body>
    <form action="" id="signup-form">
        <input type="text" id="curp" name="curp">
        <input type="text" id="name" name="name">
        <input type="password" id="password" name="password">
        <select id="kind" name="kind">
            <option value="admin">Admin</option>
            <option value="doctor">Doctor</option>
            <option value="paciente" selected="true">Paciente</option>
        </select>
        <button type="submit">Registrarse</button>
    </form>
    <script src="js/signup.js"></script>
</body>
</html>